.default-btn {
  color: #00b86e;
  width: 200px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 10px;
}
.form-btn {
  background-color: #00b86e;
  color: #fff;
  width: 75%;
  height: 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
}
.profile-btn {
  color: #000;
  background-color: #fff;
  width: 120px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}
