doctype html 
html 
    head 
    body 
    div("header")
        |Hello User, this is a message from filespopovych@gmail.com
    div 
        block content 
    div 
        |Best Regards 
        br
        | Popovych Olexandr project